aws_region = "us-east-1"
project    = "edl"
env        = "dev"
owner      = "your-name"

alert_email = ""

enable_rebuilder_schedule     = true
rebuilder_schedule_rate = "rate(5 minute)"

sqs_age_oldest_seconds_threshold = 120
log_retention_days             = 14

